Repository onchainsuite/onchain-suite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 200

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 200"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"]
}

chore: enhance ESLint configuration and add kebab-case enforcement
  .vscode/settings.json
  bun.lock
  eslint.config.mjs
  package.json
  src/shared/providers/root-providers.tsx
Due: prettier --write, eslint --fix --max-warnings 200

chore: update package.json scripts for improved linting and formatting
  package.json
Due: prettier --write

feat: update dependencies and modify layout for improved UI
  bun.lock
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/shared/components/ui/blockchain-background.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: add new components and enhance website structure
  bun.lock
  package.json
  src/app/page.tsx
  src/shared/components/ui/container-scroll-animation.tsx
  src/shared/components/ui/flip-words.tsx
  src/shared/components/ui/resizable-navbar.tsx
  src/shared/components/ui/tabs.tsx
  src/shared/website/components/cta-section.tsx
  src/shared/website/components/feature-card.tsx
  src/shared/website/components/footer-links.tsx
  src/shared/website/components/footer-social.tsx
  src/shared/website/components/footer.tsx
  src/shared/website/components/hero-section.tsx
  src/shared/website/components/navbar.tsx
  src/shared/website/components/product-showcase.tsx
  src/shared/website/components/product-tab-content.tsx
  src/shared/website/components/products-section.tsx
  src/shared/website/page/index.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: enhance UI with theme toggle and navbar updates
  next.config.ts
  src/app/page.tsx
  src/shared/components/ui/button.tsx
  src/shared/components/ui/resizable-navbar.tsx
  src/shared/components/ui/theme-mode-toggle.tsx
  src/shared/website/components/navbar.tsx
Due: prettier --write, eslint --fix --max-warnings 200

chore: update dependencies and improve TypeScript configuration
  bun.lock
  package.json
  src/shared/website/components/footer.tsx
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 200

fix: enhance BlockchainBackground and Navbar components with theme support
  src/shared/components/ui/blockchain-background.tsx
  src/shared/components/ui/resizable-navbar.tsx
  src/shared/website/components/footer.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: rearrange Particle component in BlockchainBackground for improved rendering
  src/shared/components/ui/blockchain-background.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: enhance HeroSection layout for improved readability
  src/shared/website/components/hero-section.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: update components for improved structure and functionality
  components.json
  src/shared/components/ui/google-gemini-effect.tsx
  src/shared/website/components/cta-section.tsx
  src/shared/website/components/footer.tsx
  src/shared/website/components/hero-section.tsx
  src/shared/website/components/index.ts
  src/shared/website/components/navbar.tsx
  src/shared/website/components/product-showcase.tsx
  src/shared/website/components/products-section.tsx
  src/shared/website/page/index.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: add new icons and manifest for improved web app support
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/file.svg
  public/globe.svg
  public/icon-192.png
  public/icon-512.png
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/layout.tsx
  src/app/manifest.json
  src/app/robots.ts
  src/app/sitemap.ts
  src/shared/config/index.ts
  src/shared/config/metadata.ts
  src/shared/config/site.ts
  src/shared/website/components/hero-section.tsx
  src/shared/website/components/meta/index.ts
  src/shared/website/components/meta/structured-data.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: update site configuration with new image URLs for branding
  src/shared/config/site.ts
  src/shared/website/components/meta/structured-data.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: adjust margin in CTASection for improved layout consistency
  src/shared/website/components/cta-section.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: update import path for GuestGuard in authentication layout
  src/app/auth/layout.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: implement onboarding page and flow with step components
  src/app/onboarding/page.tsx
  src/features/core/onboarding/page/index.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: update server environment configuration for clarity
  src/lib/env/server.ts
Due: prettier --write, eslint --fix --max-warnings 200

refactor: replace console.log with console.warn for improved logging consistency
  src/features/core/onboarding/components/plan-selection-step.tsx
  src/features/website/onchain-suite/components/meta/structured-data.tsx
  src/features/website/onchain-suite/components/navbar.tsx
  src/shared/components/common/command-palette.tsx
  src/shared/components/ui/flip-words.tsx
  src/shared/components/ui/resizable-navbar.tsx
  src/shared/providers/root-providers.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: update onboarding logic and remove unused hook
  src/app/onboarding/page.tsx
  src/features/core/onboarding/actions/onboarding.ts
  src/features/core/onboarding/hooks/use-onboarding-tracking.tsx
  src/features/core/onboarding/page/index.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: remove unused onboarding hook and update key generation
  src/features/core/onboarding/hooks/index.ts
  src/shared/components/ui/flip-words.tsx
Due: prettier --write, eslint --fix --max-warnings 200

chore: force dynamic rendering for onboarding page
  src/app/onboarding/page.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: implement authentication and dashboard features
  src/app/api/auth/[...all]/route.ts
  src/app/dashboard/page.tsx
  src/app/onboarding/page.tsx
  src/features/core/auth/actions/auth.ts
  src/features/core/auth/components/signup-form.tsx
  src/lib/auth.ts
Due: prettier --write, eslint --fix --max-warnings 200

feat: add navigation to registration in CTA section
  src/features/website/onchain-suite/components/cta-section.tsx
Due: prettier --write, eslint --fix --max-warnings 200

feat: add navigation to registration in HeroSection component
  src/features/website/onchain-suite/components/hero-section.tsx
Due: prettier --write, eslint --fix --max-warnings 200

refactor: remove client environment configuration
  src/lib/env/client.ts
  src/lib/env/index.ts
Due: prettier --write, eslint --fix --max-warnings 200

chore: add Netlify build configuration to omit NODE_ENV from secrets scan
  netlify.toml
Due: none

chore: update Netlify build configuration to use SECRETS_SCAN_OMIT_KEYS for NODE_ENV
  netlify.toml
Due: none

chore: update build script to include Prisma generation before Next.js build
  package.json
Due: prettier --write

chore: update Prisma schema to include binary targets and format model fields
  prisma/schema.prisma
Due: none

chore: update Netlify configuration to include build command and Prisma plugin
  netlify.toml
Due: none

chore: update Netlify configuration to mask sensitive keys and modify build command
  netlify.toml
Due: none

chore: update Netlify configuration to change SECRETS_SCAN_OMIT_KEYS value
  netlify.toml
Due: none

chore: remove Prisma plugin from Netlify configuration
  netlify.toml
Due: none

chore: update build process to separate Prisma generation from Next.js build
  package.json
  vercel.json
Due: prettier --write

chore: clean up Vercel configuration by removing unnecessary includeFiles entry
  vercel.json
Due: prettier --write

feat: enhance onboarding process with new actions and queries
  .vscode/settings.json
  prisma/generated/prisma/internal/class.ts
  prisma/generated/prisma/internal/prismaNamespace.ts
  prisma/generated/prisma/internal/prismaNamespaceBrowser.ts
  prisma/generated/prisma/models/User.ts
  prisma/schema.prisma
  src/app/onboarding/page.tsx
  src/features/core/auth/actions/auth.ts
  src/features/core/onboarding/actions/index.ts
  src/features/core/onboarding/actions/mutations.ts
  src/features/core/onboarding/actions/queries.ts
  src/features/core/onboarding/components/index.ts
  src/features/core/onboarding/components/plan-selection/components/feature-value.tsx
  src/features/core/onboarding/constants/index.ts
  src/features/core/onboarding/page/index.tsx
  src/features/core/onboarding/types/index.ts
  src/features/core/onboarding/utils/index.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/guard/auth.guard.tsx
  src/lib/prisma-error.ts
  src/lib/safe-execute.ts
  src/lib/server-error.ts
  src/lib/transform-prisma.ts
  src/lib/utils.ts
  src/shared/types/api.ts
  src/shared/types/auth.ts
  src/shared/types/campaign.ts
  src/shared/types/onboarding.ts
Due: prettier --write, eslint --fix --max-warnings 200
